pat.md
.DS_Store
Docs/.DS_Store
.terraform/
terraform/xwiki/terraform.tfstate
terraform/xwiki/terraform.tfstate.backup
# Ignore all Terraform state files everywhere
**/*.tfstate
**/*.tfstate.*
**/*.tfstate.backup
**/*.tfstate.bak_*
