server:
  dataStorage:
    enabled: true
    existingClaim: data-vault-0
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: ${cluster_issuer}
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    hosts:
      - host: ${vault_domain}
        paths:
          - /
    tls:
      - secretName: vault-tls
        hosts:
          - ${vault_domain}
